@import "../scss/config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  @include grid-rowColumn-layout(2, 12);
  height: 100vh;

  &__header {
    @include grid-rowColumn-span(1, 2, 3, 11);
    @include grid-center();
  }

  &__accordion {
    @include grid-rowColumn-span(2, 3, 3, 11);
    @include grid-center();
  }
}
